@charset "utf-8";

body,html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  background-color:#1f1f1f;
  color:#fff;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
  font-size:15px;
  padding-top: 60px;
}
h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
  line-height: 1;
}
textarea {
  resize: none;
}
* {
  box-sizing: border-box;
}

/**
 * layout
 */
.layout {
  overflow: hidden;
  width:100vw;
}
.container {
  margin:0 auto;
  max-width: 1100px;
  width:80%;
}

/**
 * header
 */
header {
  background-color:#fff;
  box-shadow:0 0 4px -1px #333;
  height:60px;
  left:0;
  position: fixed;
  top:0;
  z-index: 10000;
}
.brand {
}

/**
 * footer
 */
footer {
  color:#fff;
}

/**
 * user sidebar
 */
.user-sidebar {
  background-color: #fff;
  box-shadow:0 0 3px -1px #555;
  flex:0 0 300px;
  height: 100%;
  z-index: 10;
}
.user-item {
  color:#000;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding:.5rem;
}
  .user-item .profile {
    border-radius: 50%;
    flex:0 0 50px;
    height:45px;
    margin-right: 10px;
    overflow: hidden;
    width:45px;
  }
  .user-item .names {
    flex:1 1 auto;
  }
  .user-item .names h3 {
    font-weight: lighter;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .user-item .names p {
    color:#5f5f5f;
    font-size: .8rem;
    margin-bottom: 1px;
  }
.user-item.selected {
  background-color:rgba(33, 150, 243, 0.1);
}

.content--main {
  display: flex;
  height:100vh;
  left:0;
  padding-top: 60px;
  position: fixed;
  top:0;
  width:100%;
}

/**
 * chat
 */
.chat-area {
  flex:0 0 auto;
  height:100%;
  width:100%;
}
  .chat-area .receive {
  }
  .chat-area .send {
    color:#0000ff;
  }

@keyframes showMessage {
  0% {
    left:-10px;
    opacity: 0;
  }
  100% {
    left:0;
    opacity: 1;
  }
}
.message p {
  animation: showMessage .3s;
  border-radius: 5px;
  color:#000;
  display: inline-block;
  left:0;
  opacity: 1;
  padding: .5rem;
  position: relative;
}
  .message span {
    color:#5f5f5f;
    display: block;
    font-size: .74rem;
  }
  .message--receive p {
    background-color: #e0e0e0;
  }
  .message--send p {
    background-color:#fff;
  }

/**
 * chat form
 */
.chat-conversation {
  background-color:#efefef;
  height:100%;
  overflow-y:scroll;
  padding:1rem 1rem 100px 1rem;
}

/**
 * chat form
 */
.chat-form {
  border-top:1px solid #cfcfcf;
  bottom:0;
  height:100px;
  left:300px;
  position: fixed;
  width:100%;
}
.chat-form textarea {
  border:none;
  cursor: pointer;
  font-size: .9rem;
  height:100%;
  outline: none;
  padding:.75rem;
  width:250px;
}
.chat-form textarea:focus {
  box-shadow:0 0 5px #8f8f8f inset;
  cursor: text;
}

/**
 * main
 */
main {
  min-height: 80vh;
}
